.menu[class*=" px-"]:not(.menu[class*=" px-0"]) li > *, .menu[class^="px-"]:not(.menu[class^="px-0"]) li > *, .menu[class*=" p-"]:not(.menu[class*=" p-0"]) li > *, .menu[class^="p-"]:not(.menu[class^="p-0"]) li > * {
    border-radius: 0px;
}

.footer {
    row-gap: 2rem;
}

::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: #0F172A;
}
::-webkit-scrollbar-thumb {
    background: #B3C5EF;
    border: 5px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}

.bg-color-home{
    background: linear-gradient(129.96deg, #FF2F2F 10.43%, #000460 92.78%), radial-gradient(100% 246.94% at 100% 0%, #FFFFFF 0%, #020063 100%), linear-gradient(58.72deg, #2200F2 0%, #530000 100%), linear-gradient(154.03deg, #B70000 0%, #FF003D 74.04%), linear-gradient(341.1deg, #FF0000 7.52%, #0038FF 77.98%), linear-gradient(136.23deg, #00C2FF 11.12%, #FF0000 86.47%), radial-gradient(57.37% 100% at 50% 0%, #B50000 0%, #0034BB 100%);
background-blend-mode: overlay, color-burn, screen, overlay, difference, difference, normal;
}

.bg-color-section{
    background: radial-gradient(100% 225% at 100% 0%, #FAFF00 0%, #000000 100%), linear-gradient(235deg, #DB00FF 0%, #000000 100%), linear-gradient(45deg, #241E92 0%, #241E92 40%, #5432D3 40%, #5432D3 50%, #7B6CF6 50%, #7B6CF6 70%, #E5A5FF 70%, #E5A5FF 100%), linear-gradient(180deg, #01024E 0%, #01024E 43%, #543864 43%, #543864 62%, #8B4367 62%, #8B4367 80%, #FF6464 80%, #FF6464 100%);
    background-blend-mode: overlay, hard-light, overlay, normal;
}

.bg-color-navbarMobile{
    background-color: #161B22;
    background-image: linear-gradient(90deg, #161B22 0%, #000000 55%, #000000 100%);  
}